.about-wrapper {
  margin: 0 auto;
  margin-top: 7em;
  width: 90em;
  padding-left: 2em;
}

.about-football-photo {
  float: left;
  width: 23em;
  margin-right: 2em;
}

.about-football-text {
  padding-top: 1em;
  width: 87%;
  clear: right;
}

.about-life-photo {
  width: 11em;
  float: right;
}

.about-life-entertainment {
  width: 87%;
  padding-top: 2.5em;
  clear: both;
}

.about-life-text {
  padding-top: 2.5em;
}

.about-life-photo {
  padding-left: 1em;
}

.italics {
  font-style: italic;
}
