.london-athletics-wrapper {
  margin-top: 7em;
  padding-left: 1em;
  padding-right: 1em;
}

.london-athletic-video-wrapper {
  display: flex;
  float: left;
  margin-right: 1em;
}

.london-athletic-video {
  margin: 0 auto;
  margin-bottom: 1em;
}

.london-athletic-text {
  padding-top: 2em;
}

.padding-bottom-london-athletic {
  padding-bottom: 0.6em;
}
