.blog-posting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1.25rem;
  text-align: center;
}

.blog-posting:not(:last-child) {
  margin-bottom: 1.5rem;
}

.blog-posting img {
  margin: 5px;
}

.tags {
  justify-content: flex-end;
  display: flex;
}

span.is-light:hover {
    background-color: #dcdcdc 
}

.hover-style {
  color: #03a797
}

.hover-style:hover {
  color: #1b02ff;
}