.blog-posting {
  background-color: white;
  text-align: center;
}

.blog-posting:not(:last-child) {
  margin-bottom: 1.5rem;
}

.blog-posting img {
  margin: 5px;
  max-width: 30em;
}

.blog-photo {
  width: 100%;
  margin: 10px;
}

.makeFlex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.snippet {
  width: 25%;
  display: flex;
  min-width: 250px;
  margin: 10px;
  height: 581px;
  border-radius: 3px;
  box-shadow: 0px 5px 7px 0px rgba(10, 10, 10, 0.5);
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.8);
  }

  .truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-image {
    max-height: 60%;
    overflow: hidden;
  }
  .content {
    padding: 5px;
    max-height: 100px;
    overflow: auto;
  }
  &:first-of-type {
    width: 80%;
  }
  img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }
}

.tags {
  justify-content: flex-end;
  display: flex;
}

span.is-light:hover {
  background-color: #dcdcdc;
}

.hover-style {
  color: #03a797;
}

.hover-style:hover {
  color: #1b02ff;
}

.hoverReadMore {
  background-color: #20238a;
  color: #fff;
  &:hover {
    background-color: rgba(51, 55, 181, 1);
  }
}
