.under-construction {
  width: 100%;
  background-image: image_url("under-construction.jpg");
  min-height: 60vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
}
