.contact-text {
  margin-top: 2%;
  margin-left: 2%;
}

.image-banner {
  height: 46vh;
  // width: 100vw;
  background-image: image_url("logo-with-guy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 13%;
}

.management-word {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contact-info {
  line-height: 2.5em;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 100%;
}