.contact-text {
  margin-top: 2%;
  margin-left: 2%;
}

.image-banner {
  height: 46vh;
  // width: 100vw;
  background-image: image_url("logo-with-guy.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 13%;
  // opacity: 0.83;
  // &:before{
  //   content: " ";
  //   position: relative;
  //   top: 0;
  //   bottom: 0;
  //   width: 100%;
  //   z-index: -1;
  //   opacity: 1;
  //   height: 100%;
  //   background-color: $site-background;
  // }
}

.management-word {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.contact-info {
  line-height: 2.5em;
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 100%;
}