.footer {
  width: 100%;
  margin: 0 auto;
  background: $header-color;
  margin-top: 1em;
}

.footer-wrapper {
  border-top: 1px solid black;
  background: $header-color;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:before {
    //change wallpaper here
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 140%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    background-image: image_url("_G9A9638.jpg");
    background-repeat: no-repeat;
    background-position: 20% -12%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}
.Site-content:after {
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
}

.footer-logo {
  height: 13em;
  width: 13em;
}

.social-tag {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 3px solid $default-header;
  align-self: center;
  display: flex;
  justify-content: center;
}

.social-tag i {
  align-self: center;
  // color: lighten($header-color, 15%);
  color: $default-header;
  &:hover {
    color: lighten($default-header, 15);
  }
}

.middle-centered {
  display: flex;
  justify-content: space-around;
}
