.footer {
  width: 100%;
  margin: 0 auto;
  background: $header-color;
  margin-top: 1em;
}

.footer-wrapper {
  border-top: 1px solid black;
  background: $header-color;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:before {
    //change wallpaper here
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    width: 140%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
    background-image: image_url("_G9A9638.jpg");
    background-repeat: no-repeat;
    background-position: 20% -12%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.Site-content {
  flex: 1 0 auto;
  width: 100%;
<<<<<<< HEAD
  @include mobile {
    width: 100%;
=======

  @include mobile{
    padding: 0 5%;
>>>>>>> 2b19b4cc2983943b7b0a6e1dc3b87f3017c01160
  }
}
.Site-content:after {
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
}

.social-tag {
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  border: 3px solid $default-header;
  align-self: center;
  display: flex;
  justify-content: center;
  i {
    align-self: center;
    // color: lighten($header-color, 15%);
    color: $default-header;
    &:hover {
      color: lighten($default-header, 15);
    }
  }

  a {
    align-self: center;
  }
  @include mobile {
    border: 1px solid $default-header;
    .fa-3x {
      font-size: 1em !important;
    }
  }
}

#footer-logo {
  border-radius: 50%;
  align-self: center;
  display: flex;
  justify-content: center;
  i {
    align-self: center;
    color: $default-header;
    &:hover {
      color: lighten($default-header, 15);
    }
  }

  a {
    align-self: center;
  }
  height: 15vw;
  width: 15vw;
  border: 8px solid $default-header;
  @include mobile {
    border: 4px solid $default-header;
  }

  .footer-logo {
    height: 3.5em;
    width: 10em;
    @include mobile {
      height: 1.5em;
      width: 3em;
    }
  }
}

.middle-centered {
  display: flex;
  justify-content: space-around;
}
