.bottom-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.top-header {
  margin: 0 auto;
  margin-top: 2em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1em;
}

.header-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
}

.header-space {
  height: 9.25em;
}

.top-nav {
  display: flex;
  justify-content: center;
  background: $header-color;
}

.bottom-nav {
  background: $header-color;
  padding-bottom: 0.5em;
}

.link-color {
  color: $default-header;
}

.navbar-item {
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
}

.header-top {
  color: $default-header;
  letter-spacing: 0.25em;
}