.bottom-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.top-header {
  margin: 0 auto;
  margin-top: 2em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1em;
}

.header-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
  border-bottom: 5px solid $blood-red;
}

.header-space {
  height: 9.25em;
  margin-bottom: 2vh;
  // padding: 1em;
  // background-color: $blood-red
  @include mobile {
    height: 18.25em;
  }
}

.top-nav {
  display: flex;
  justify-content: center;
  background: $header-color;
}

.bottom-nav {
  background: $header-color;
  padding-bottom: 0.5em;
}

.link-color {
  color: $default-header;
}

.navbar-item {
  line-height: 1.5;
  padding: 0.5rem 1rem;
  position: relative;
}

.header-top {
  color: $default-header;
  letter-spacing: 0.25em;
}

.social-tag-header {
  color: $default-header;
  padding-right: 5%;
  display: flex;
  &:hover {
    color: lighten($default-header, 15);
  }
  &:last-child {
    padding-right: 7%;
  }
  a {
    color: $default-header;
    align-self: flex-start;
    padding: 0.5rem 0;
    &:hover {
      color: lighten($default-header, 15);
    }
  }
}

i.is-size-4 {
  font-size: 1.5em;
}