.bottom-header {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

.top-header {
  margin: 0 auto;
  margin-top: 2em;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1em;

  @include mobile {
    margin: 0 auto;
    margin-top: 1em;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.2em;
  }
}

.header-wrapper {
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 10;
  border-bottom: 5px solid $blood-red;
}

.header-space {
  height: 9.25em;
  margin-bottom: 2vh;
  // padding: 1em;
  // background-color: $blood-red
  @include mobile {
    height: 5.25em;
  }
}

.top-nav {
  display: flex;
  justify-content: center;
  background: $header-color;
  @include mobile {
    display: block;
    justify-content: none;
  }
}

.bottom-nav {
  background: $header-color;
  padding-bottom: 0.5em;
  @include mobile {
    padding-bottom: 0em;
  }
}

.navbar-item a {
  color: $default-header;
  &:hover {
    color: lighten($default-header, 15);
  }
}

.header-top {
  color: $default-header;
  letter-spacing: 0.25em;
  @include mobile {
    letter-spacing: 0.1em;
  }
}

i.is-size-4 {
  font-size: 1.5em;
}
