.justify-content-center {
  justify-content: center;
}

.sc-joso {
  width: 40%;
  margin: 0 auto;
}

// .youtube-joso {
//   width: 80%;
//   margin: 0 auto;
// }

// .centered > iframe {
//   margin: 0 auto;
// }
