<<<<<<< HEAD
.joso-click {
    width: 40vw;
    height: 40vw;


    
  

}
=======
.justify-content-center {
  justify-content: center;
}

.sc-joso {
  width: 40%;
  margin: 0 auto;
}

// .youtube-joso {
//   width: 80%;
//   margin: 0 auto;
// }

// .centered > iframe {
//   margin: 0 auto;
// }
>>>>>>> 9b0a20e74a090631cb973231776ca6d84a7a5496
