.landing-page-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.social-embed {
  margin-top: 5%;
}

.joso-link {
  background-color: $joso-hero
}
.joso-text {
  text-align: center;
  font-size: 3em;
}

.joso-landing-background {
  background: $joso-hero;
}

.joso-photo-landing {
  width: 25%;
  display: block;
  margin: 0 auto;
}

.joso-text-formatting {
  display: flex;
  flex-direction: column;
}
